body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul {
  list-style: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  position: relative;
  display: table;
  width: 100%;
  /* height: 100%; */
  background: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: url(../img/background.png) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; */
  text-align: left;
  color: #ffffff;
}

.masthead a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}

.masthead a:hover, a:active {
  color: #fef038;
  text-decoration: none;
}

.masthead .mastheadCity {
  color: #fef038;
}

.masthead .mastheadCity a:link, a:visited {
  color: #fef038;
  text-decoration: none;
}

.masthead .mastheadCity a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.masthead img {
  padding-bottom: 100px;
  min-width: 25%;
  margin-top: -3%;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}

.masthead .topnav {
  text-align: right;
  margin-top: -1%;
  margin-right: 10%;
  color: #ffffff;
  /* word-spacing: 30px; */
  /* font-size: 120%; */
}

.topnav a:link,
.topnav a:visited {
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 0%;
}
.topnav a:hover,
.topnav a:focus {
    color: #fef038;
}

.topnav .topnavActive {
    background-color: transparent;
    border-bottom: 2px solid #fef038;
}

@media screen and (max-width: 425px) {
  .masthead .container {
    margin-top: -65px;
  }
  .topnav {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 991px) {
  .masthead .container {
    margin-top: -15px;
  }
  .masthead .topnav {
    margin-top: 25px;
  }
}

.masthead .topnavMobile {
  text-align: right;
  margin-top: 25px;
  margin-right: 3%;
  color: #ffffff;
  /* word-spacing: 30px; */
  /* font-size: 120%; */
}

.topnavMobile a:link,
.topnavMobile a:visited {
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 0%;
}
.topnavMobile a:hover,
.topnavMobile a:focus {
    color: #fef038;
}

.topnavMobile .topnavActive {
    background-color: transparent;
    border-bottom: 2px solid #fef038;
}

@media screen and (min-width: 426px) {
  .topnavMobile {
    display: none;
  }
}

.manifest {
  padding-top: 2.5rem;
  font-weight: bold;
  color: #000000;
  /* height: 100%; */
  background-size: cover;
}

.manifest p {
  font-size: 18px;
}

@media (min-width: 766px) {
  .manifest p {
    max-width: 75%;
  }
}

.manifest yellow {
  background-color: rgb(254, 253, 56);
}

.lisboa {
  padding-bottom: 2.5rem;
  font-weight: bold;
  /* height: 100%; */
}

.lisboa h1 {
  font-size: 15rem;
  color: #fef038;
  letter-spacing: -15px;
}
@media screen and (max-width: 991px) {
  .lisboa h1 {
    font-size: 10rem;
  }
}
@media screen and (max-width: 514px) {
  .lisboa h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 361px) {
  .lisboa h1 {
    font-size: 5.5rem;
  }
}

.lisboa a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

.lisboa a:hover, a:active {
  color: #fef038;
  text-decoration: none;
}

.lisboa .mapLink a:link, a:visited {
  color: #fef038;
  text-decoration: none;
}

.lisboa .mapLink a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

.porto {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-weight: bold;
  background-color: #fef038;
  /* height: 100%; */
}

.porto h1 {
  font-size: 15rem;
  color: #ffffff;
  letter-spacing: -15px;
}
@media screen and (max-width: 991px) {
  .porto h1 {
    font-size: 10rem;
  }
}
@media screen and (max-width: 514px) {
  .porto h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 361px) {
  .porto h1 {
    font-size: 5.5rem;
  }
}

.porto a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

.porto a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

.porto .mapLink a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}

.porto .mapLink a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

.pricing {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #fef038;
  /* height: 100%; */
}

.pricingBox {
  background-color: #ffffff;
  color: #000000;
  height: 10rem;
  width: 10rem;
  display: block;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.pricingBox .content {
  max-width: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.pricingBox a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

.pricingBox a:hover, a:active {
  color: #fef038;
  text-decoration: none;
}

.team {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #ffffff;
  /* height: 100%; */
}

.teamBox {
  background-color: #000000;
  color: #fef038;
  height: 15rem;
  width: 15rem;
  display: block;
  text-align: center;
  position: relative;
}

.teamBox .content {
  max-width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.teamBox .content .filter {
  background-color: #fef038;
  max-width: 65%;
}

.teamBox .content .filter img {
  opacity: 0.75;
  max-width: 100%;
  filter:grayscale(100%);
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  /* height: 100%; */
}
@media screen and (max-width: 340px) {
  footer.footer .socialMedia .coluna {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  footer.footer .socialMedia {
    margin-bottom: 5%;
  }
}

footer.footer .social-link {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.15s ease-in-out;
}

footer.footer .social-link:hover {
  background-color: #fef038;
  text-decoration: none;
}

footer.footer .socialMediaXS {
  margin-left: 38%;
  padding-bottom: 0%;
}

footer.footer .social-linkXS {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.15s ease-in-out;
}

footer.footer .social-linkXS:hover {
  background-color: #fef038;
  text-decoration: none;
}

@media screen and (min-width: 540px) {
  footer.footer .socialMediaXS {
    display: none;
  }
  footer.footer .social-linkXS {
    display: none;
  }
}

footer.footer h4 {
  color: #ffffff;
}

footer.footer p {
  color: #fef038;
}

footer.footer .contact a:link, a:visited {
  color: #fef038;
  text-decoration: none;
}

footer.footer .contact a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

footer.footer .logos {
  max-width: 80%;
  padding-top: 2rem;
}

footer.footer .logos a {
  text-decoration: none;
}

footer.footer .logos img {
  max-height: 1.5rem;
}
@media screen and (min-width: 1441px) {
  footer.footer .logos {
    max-width: 60%;
  }
}
@media screen and (min-width: 1956px) {
  footer.footer .logos {
    max-width: 40%;
  }
}
@media screen and (max-width: 978px) {
  footer.footer .logos {
    display: none;
  }
}

footer.footer .logosSM {
  max-width: 80%;
  padding-top: 2rem;
}

footer.footer .logosSM a {
  text-decoration: none;
}

footer.footer .logosSM img {
  max-height: 1.5rem;
}
@media screen and (min-width: 978px) {
  footer.footer .logosSM {
    display: none;
  }
}
